{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% block title %}<title>Аксессуары</title>{% endblock %}

<form id="search" action="{% url 'catalog_search' %}" method="get">
    <input id="search_field" type="text" name="q" value="Я хочу найти&hellip;"onFocus="this.value=(this.value=='Я хочу найти&hellip;')? '' : this.value ;"/>
    <button id="#sf_submit" type="submit">поиск</button>
</form>

<div id="homepage" class="container">

    <ul class="menu">
        <li>
            <a href="/previewWarmFloors.html">Теплые полы</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../infraredFilm/catalogInfrared.html">пленочный инфракрасный</a>
        </li>
        <li>
          <a href="../heatingMats/catalogMats.html">нагревательные маты</a>
        </li>
        <li>
          <a href="../cable/catalogCable.html">кабельный</a>
        </li>
      </ul> -->
        </li>
        <li>
            <a href="/previewAccessories.html">Аксессуары к теплым полам</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 1</a>
        </li>
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 2</a>
        </li>
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 3</a>
        </li>
      </ul> -->
        </li>
        <li>
            <a href="/previewAllCond.html">Кондиционеры</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 1</a>
        </li>
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 2</a>
        </li>
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 3</a>
        </li>
      </ul> -->
        </li>
    </ul>
    <div class="row">
        <div class="preview_warm_floors ">

            <div class="eastec_infrared_film col-xs-1">
                <a href="accessoriesThermostats.html">
                    <img src="{% static "images/product/preview/termoregulator.jpg" %}" alt="">
                </a>
                <p>
                    Терморегуляторы
                </p>
                <div class="preview_more_info">
                    <a href="accessoriesThermostats.html">
                        <p>Подробнее</p>
                    </a>
                </div>
            </div>

            <div class="arnoldRak_heating_mats col-xs-2">
                <a href="accessoriesMountingKit.html">
                    <img src="{% static "images/product/preview/montajkit.jpeg" %}" alt="">
                </a>
                <p>
                    Монтажный набор
                </p>
                <div class="preview_more_info">
                    <a href="accessoriesMountingKit.html">
                        <p>Подробнее</p>
                    </a>
                </div>
            </div>

            <div class="arnoldRak_cable col-xs-3">
                <a href="accessoriesThermalInsulation.html">
                    <img src="{% static "images/product/preview/teploizolacia.jpg" %}" alt="">
                </a>
                <p>
                    Теплоизоляция
                </p>
                <div class="preview_more_info">
                    <a href="accessoriesThermalInsulation.html">
                        <p>Подробнее</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




</div>


{% endblock %}