{% extends 'base.html' %} {% block content %} {% load staticfiles %}

<form id="search" action="#" method="post">
    <fieldset>
        <legend>Я хочу найти:</legend>
        <input type="text" id="text-to-find" value="Я хочу найти&hellip;" onFocus="this.value=(this.value=='Я хочу найти&hellip;')? '' : this.value ;">
        <input type="button" onclick="javascript: FindOnPage('text-to-find'); return false;" id="sf_submit" value="найти">
    </fieldset>
</form>

<div id="homepage" class="container">

    <ul class="menu">
        <li>
            <a href="/previewWarmFloors.html">Теплые полы</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../infraredFilm/catalogInfrared.html">пленочный инфракрасный</a>
        </li>
        <li>
          <a href="../heatingMats/catalogMats.html">нагревательные маты</a>
        </li>
        <li>
          <a href="../cable/catalogCable.html">кабельный</a>
        </li>
      </ul> -->
        </li>
        <li>
            <a href="/previewAccessories.html">Аксессуары к теплым полам</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 1</a>
        </li>
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 2</a>
        </li>
        <li>
          <a href="../../accessoriesFloors/catalogAllAccess.html">акссесуары 3</a>
        </li>
      </ul> -->
        </li>
        <li>
            <a href="/previewAllCond.html">Кондиционеры</a>
            <!-- <ul class="submenu">
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 1</a>
        </li>
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 2</a>
        </li>
        <li>
          <a href="../../conditioners/catalogAllCond.html">кондиционеры 3</a>
        </li>
      </ul> -->
        </li>
    </ul>
    <div class="row">
        <div class="preview_warm_floors">

            <div class="eastec_infrared_film col-xs-1">
                <a href="splitSystem.html">
                    <img src="{% static "images/product/preview/split-sistema.png" %}" alt="">
                </a>
                <p>
                    Сплит-система
                </p>
                <div class="preview_more_info">
                    <a href="splitSystem.html">
                        <p>Подробнее</p>
                    </a>
                </div>
            </div>

            <div class="arnoldRak_heating_mats col-xs-2">
                <a href="invertorSystem.html">
                    <img src="{% static "images/product/preview/inverter-system.jpg" %}" alt="">
                </a>
                <p>
                    Инвертор-система
                </p>
                <div class="preview_more_info">
                    <a href="invertorSystem.html">
                        <p>Подробнее</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




</div>


{% endblock %}