{% extends 'base.html' %} 

{% block content %}
<!-- <script src="js/search.js"></script>  -->
<!-- 
поиск работает только в разделе католога, 
позже сделать другой поиск, а пока что вырезать его
из главной и корзины
-->


<div class="not_found">
    <h1>Страница не найдена...</h1>
    <p>страница, на которую вы пытаетесь зайти не существует, либо она была удалена</p>
    <p>вернитесь на главную страницу сайта и попробуйте ещё раз</p> 
    <a href="index.html"><span>Главная</span></a>
</div>

{% endblock %}
